{% include "header.html" %}

{% block content %}
<head>
    <style>
        .fa-play:before {
            content: "\f04b";
}
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
{% load static %}
<!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>About Us</h6>
                            <h2>We Leave A Best Memory For You</h2>
                        </div>
                        <p>Enigma Crafts is one of the best <a href="https://youtube.com/@craftylefty01?si=MDXvoaSdqjFkJnCI" target="_blank" rel="sponsored">Enigma Crafts</a> where we show you a glimpse of hard work and feelings we put into making the best memory for you.</p>
                        <div class="row">
                            <div class="col-4">
                               <img src="{% static 'images/abc.png' %}" alt="">
                            </div>
                            <div class="col-4">
                                <img src="{% static 'images/about1.png' %}" alt="">
                            </div>
                            <div class="col-4">
                                <img src="{% static 'images/about.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-content">
                        <div class="thumb">
                            <a rel="nofollow" href="https://youtu.be/rsYN1RvLVoc?si=GqmrSLAMvk3ExfUj"><i class="fa fa-play"> </i></a>
                            <img src="{% static 'images/gif.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'js/owl-carousel.js' %}"></script>
<script src="{% static 'js/accordions.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<script src="{% static 'js/scrollreveal.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/imgfix.min.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>

<!-- Global Init -->
<script src="{% static 'js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>


</body>


{% endblock %}


{% include "footer.html" %}
